/*VARIOUS*/

:root {
  --background-main: #ffffff;
  --main-text-color: #000000;
}

/*GLOBAL STYLES*/

body {
  font-family: Roboto, Times, serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.333;
}
section {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  /*background-color: turquoise;*/
}
ul {
  list-style: none;
}
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*MAIN CONTEINER*/
.conteiner {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;

  background-color: chocolate;

  padding: 76px 1px 80px 1px;
}

/*MAIN CONTENT OF SITE*/

.title-propositions {
  font-family: PT Serif;
  font-size: 30px;

  color: var(--main-text-color);

  margin-bottom: 40px;
}

.propositions {
  font-size: 18px;

  color: var(--background-main);
  max-width: 256px;
}
.propositions.max-title {
  font-size: 24px;
  max-width: 530px;
}

.price {
  font-weight: 400;
  font-size: 16px;

  color: var(--background-main);

  max-width: 256px;
}
.links {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}
